<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ball.blog.mapper.CommentMapper">
<resultMap id="CommentUserBlogResultMap" type="comment">
    <id property="id" column="id"/>
    <result property="content" column="content"/>
    <result property="time" column="time"/>
    <result property="user_id" column="user_id"/>
    <result property="blog_id" column="blog_id"/>
    <association property="user" javaType="user">
        <id column="id" property="id"/>
        <result property="username" column="username"/>
        <result property="head" column="head"/>
    </association>
    <association property="blog" javaType="blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
    </association>
</resultMap>
    <sql id="comment_where">
        blog.id=comment.blog_id and user.id=comment.user_id
        <if test="content!=null || content!=''" >
            and comment.content like '%${content}%'
        </if>
    </sql>
    <select id="selectCommentList" parameterType="comment" resultMap="CommentUserBlogResultMap">
        select comment.*,blog.title,user.username from comment,blog,user
        <where>
          <include refid="comment_where"/>
        </where>
    </select>
    <select id="selectCommentByBid" parameterType="int" resultMap="CommentUserBlogResultMap">
        SELECT * FROM COMMENT,USER WHERE blog_id=#{id} AND user.id=comment.user_id ORDER  BY TIME;
    </select>
    <delete id="deleteComment" parameterType="int">
        delete from comment where id=#{id}
    </delete>
    <insert id="insertComment" parameterType="comment">
        insert into comment  values (#{id},#{content},#{time},#{user_id},#{blog_id});
    </insert>
</mapper>